@import "~bootstrap/scss/bootstrap.scss";

input{width: 100%;
    font-size: 150%;
    border:none;}

ul{list-style:none;
    font-size: 150%;}

.cuerpo{width:50%;
border-color: gray;}

h1{font-weight: 5;
font-size: 500%;}

